.accordion {
    display: flex;
    flex-direction: column;
  }
  .accordion-item {
    background-color: var(--clr-bg);
    border-color: var(--clr-gray200);
  }
  .accordion-button {
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
      0px 2px 6.4px -1px rgba(19, 16, 34, 0.03) !important;
    background-color: var(--clr-white);
    
    h5 {
      color: var(--clr-header);
      font-weight: 600;
      font-size: 16px;
      line-height: 20.8px;
      grid-column: 1/11;
    }
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    &:not(.collapsed)::after {
      display: none;
    }
    &:not(.collapsed) {
      background-color: var(--clr-white) !important;
    }
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-gray100);
    transition: transform 0.5s ease;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
    grid-column: 12/13;
    i {
      color: var(--clr-icon);
      transform: translate(0, 10%);
    }
    box-shadow: 1px 1px 2px var(--clr-boxshadow);
  }
  .accordion-button[aria-expanded="true"] .accordion-icon {
    background-color: var(--clr-primary);
    i {
      color: white;
    }
    transform: rotate(180deg);
    box-shadow: 1px 1px 5px var(--clr-primary);
  }
  
  .accordion-body {
    background-color: var(--clr-white);
    box-shadow: 1px 1px 5px var(--clr-boxshadow);
  }