.FAQ{
  padding-top: 2rem;
}
.FAQ-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-button {
  box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06),
    0px 2px 6.4px -1px rgba(19, 16, 34, 0.03) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 20.8px;

  &:not(.collapsed)::after {
    color: vars.$headerColor;
    background-color: vars.$primary !important;
  }
  &:not(.collapsed) {
    color: vars.$headerColor;
    background-color: white !important;
  }
}

.accordion-button::after {
  background-color: vars.$lightBG;
  border-radius: 50%;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-body {
  color: vars.$textColor;
}
