.ratings {
  background-color: var(--clr-gray100);
  display: none;
}
.ratings-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}
.card-flex {
  display: flex;
  gap: 2rem;
}
.card {
  width: 400px;
  height: 350px;
  padding: 1rem;
  position: relative;
  border: none;
  background-color: var(--clr-white);
  box-shadow: 1px 1px 5px var(--clr-boxshadow);
  img {
   width: 70px;
  }
}
.card:hover{
   box-shadow: 2px 2px 5px var(--clr-primary);
}
.quote{
   background-color: var(--clr-primary);
   width: 44px;
   height: 44px;
   border-radius: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   transform: translate(0, -50%);
   i{
      font-size: 25px;
      color: #fff;
   }
}
.card-main-content{
   margin-top: 2rem;
   p{
      margin-top: 1rem;
   }
}
.role{
   display: flex;
   align-items: center;
   margin-top: 4rem;
   strong{
      color: var(--clr-header);
   }
    .bitmoji {
      width: 48px;
    }
}

@media(min-width: 1400px){
   .ratings{
      display: block;
   }
}