.page-5 {
  padding: 0.5rem;
  margin-top: 2rem;
}
.contact {
  text-align: center;
  margin-bottom: 3rem;
}
.btn-contact {
  background-color: vars.$primary;
  color: white;
  width: 162px;
  height: 50px;
  padding: 12px 25px;
  border-radius: 8px;
  span {
    font-size: 14px;
    font-weight: 600;
  }
}
.newsletter {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr auto auto;
  background-color: vars.$lightBG;
  padding: 0.5rem;
  border-radius: 0.5rem;
  h2 {
    font-size: 21.6px;
    line-height: 30.2px;
  }
}
.newsletter-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}
.form-email {
  grid-column: 1/4;
}
.form-input {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1.5rem;
  i {
    position: absolute;
    left: 0;
    padding-left: 1rem;
  }
}
.email-input {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  height: 52px;
  padding-left: 2.5rem;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px vars.$primary;
  }
}

.btn-subscribe {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 115px;
  height: 52px;
  background-color: vars.$primary;
  color: white;
}
