// Grayscale 
$lightBG: #F3F6FF; 
$secondary: #EFF2FC;
$divider: #E2E5F1;
$formsBorder: #D4D7E5;
$inputPlaceHolder: #B4B7C9;
$mutedText: #9397AD;
$bodyText: #565973;
$navigation: #33354D;
$headingDark: #0B0F19;
// Brand
$primary: #6366F1;

$textColor: #585C7B;