// Grayscale
$lightBG: #f3f6ff;
$secondary: #eff2fc;
$divider: #e2e5f1;
$formsBorder: #d4d7e5;
$inputPlaceHolder: #b4b7c9;
$mutedText: #9397ad;
$bodyText: #565973;
$navigation: #33354d;
$headingDark: #0b0f19;
// Brand
$primary: #6366f1;

$textColor: #585c7b;
$headerColor: #131022;
