// Grayscale
$lightBG: #f3f6ff; //Gray-100
$secondary: #eff2fc; //Gray-200
$divider: #e2e5f1; //Gray-300
$formsBorder: #d4d7e5; //Gray-400
$inputPlaceHolder: #b4b7c9; //Gray-500
$mutedText: #9397ad; //Gray-600
$bodyText: #565973; //Gray-700
$navigation: #33354d; //Gray-800
$headingDark: #0b0f19; //Gray-900
// Brand
$primary: #6366f1;

$textColor: #585c7b;
$headerColor: #131022;
$mobileMenu: #3E4265;
