@import "./sass/base/reset";
@import "./sass/abstract/colors";
@import "./sass/components/buttons";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "./sass/layout/header";
@import "./sass/pages/brands";
@import "./sass/pages/faq";
@import "./sass/pages/features";
@import "./sass/pages/howitworks";
@import "./sass/pages/ratings";
@import "./sass/pages/showcase";
@import "./sass/pages/subscribe";
@import "./sass/pages/transfer";
@import "./sass/abstract/typogrophi";
@import "./sass/layout/footer";
@import "./sass/components/accordion";




.container {
  width: 100%;
  height: fit-content;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

